Flask==3.0.0
Flask-JWT-Extended==4.6.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.36
Flask-CORS==4.0.0
Werkzeug==3.0.1
cryptography==41.0.7
pycryptodome==3.19.1
watchdog==6.0.0
bcrypt==4.1.2
python-dotenv==1.0.0
Flask-SocketIO==5.3.6
eventlet==0.35.1
